* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 100px;
  width:100%;
  
}
.paper{
  justify-content: space-around;
  z-index: 1;
  display: flex;
  height: 70px;
  width: 90%;
  align-items: center;
  margin-top: 100px;
  position: absolute;
}

  .paper2{
   z-index: 2;
  display: grid;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  height:50%;
  margin-top:120%;
  position: absolute;
  width: 90%;
  
  
}

#edit{
  outline: none;
  margin-left: 10px;
  color: rgb(103, 27, 173);
}
#delete{
  outline: none;
  margin-left: 10px;
  color: rgb(103, 27, 173);

}
